* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff: "Inconsolata", monospace;

  /* Colors */
  --backColor-body: #1b1a17;
  --backColor-Skills: #1f1e1b;

  /* Font-Colors */
  --fontColor-primary: #f0e3ca;
  --fontColor-secondary: #ff8303;
  --fontColor-Skills: #ffffff;
}

/* Geral */
.title {
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 400;
}

span,
h2 {
  color: var(--fontColor-secondary);
}

a {
  text-decoration: none;
}

.open {
  display: grid;
}

.hide {
  visibility: visible;
  transform: translateX(0);
}

button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: var(--backColor-body);
  font-family: var(--ff);
  color: var(--fontColor-primary);
}

.container {
  position: relative;
  max-width: 45rem;
  display: grid;
  place-items: center;
  padding: 0 1.8rem;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  background-color: var(--backColor-Skills);
  padding: 1.6rem 1.8rem;
  border-bottom: 1px solid var(--backColor-body);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--fontColor-primary);
}

nav a:hover {
  color: var(--fontColor-secondary);
}

/* sections */
section {
  position: relative;
  left: 0;
  padding: 6.4rem 0;
  display: grid;
  gap: 3.2rem;
  justify-items: center;
}

/* Fist section */

#about {
  padding: 12.8rem 0 6.4rem;
}

section .first-content {
  width: 31.4rem;
  margin: 6.4rem 0;
}

section .first-content h1 {
  font-size: 4rem;
  line-height: 4.1rem;
  font-weight: 900;
  color: var(--fontColor-secondary);
}

section .first-content h3 {
  font-size: 3.2rem;
  line-height: 3.4rem;
  font-weight: 700;
  margin: 1.6rem 0;
}

section .first-content p {
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: normal;
}

section .second-content {
  position: relative;
  max-width: 100%;
}

section .second-content img:first-child {
  position: relative;
  width: 100%;
}

section .second-content img:last-child {
  width: 30rem;
  position: absolute;
  top: 1rem;
  left: 3rem;
}

/* Second intro */
#intro {
  min-width: 32.2rem;
  padding: 6.4rem 6.4rem;
}

#intro p {
  font-size: 2.4rem;
  line-height: 2.5rem;
}

section .cards-wrapper {
  display: grid;
  gap: 1.6rem;
}

section .cards {
  width: 28.5rem;
  height: 6rem;
  border-radius: 1rem;

  display: flex;
  gap: 1.6rem;
  align-items: center;

  background-color: var(--backColor-Skills);
  padding: 1.4rem 3.2rem;
}

.cards img {
  width: 2.8rem;
  height: 3.2rem;
}

.project-cards {
  display: grid;
  gap: 1.6rem;
}

#project-wrapper .cards {
  display: grid;
  place-content: center;
  width: 22rem;
  height: 22rem;
  background: var(--backColor-Skills);
}

/* Footer */

.footer-wrapper {
  padding: 6.4rem 0;
  display: grid;
  gap: 6.4rem;
  justify-content: space-between;
  justify-items: center;
}

.footer-wrapper > div {
  display: grid;
  gap: 1.6rem;
  justify-items: center;
  text-align: center;
}

.me {
  max-width: 33.9rem;
}

.me p {
  font-size: 2rem;
  line-height: 2rem;
}

.contacts-wrapper h2 {
  font-size: 3.2rem;
  line-height: 3.9rem;
  font-weight: 900;
}

.contacts a {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  padding: 1.6rem;
  color: var(--fontColor-secondary);
  font-size: 2.4rem;
  line-height: 2.5rem;
}

@media (max-width: 540px) {
  nav {
    position: fixed;
    top: 7rem;
    left: 0;
    z-index: 99;

    width: 60%;
    height: 100vh;
    background: #1f1e1bf9;

    display: grid;
    gap: 6.4rem;
    text-align: center;
    place-content: center;
    transform: translateX(-32rem);
    transition: 0.8s;
    visibility: hidden;
  }
}

@media (min-width: 540px) {
  header {
    display: grid;
    gap: 1.6rem;
    place-content: center;
    justify-items: center;
    padding: 1.6rem 8.6rem;
  }

  .container {
    min-width: 62.9rem;
    justify-items: center;
  }

  .button-wrapper {
    display: none;
  }

  nav {
    display: flex;
    gap: 6.4rem;
  }

  .first-content {
    min-width: 44.8rem;
  }

  .second-content img:last-child {
    min-width: 40rem;
    right: 100rem;
  }

  #intro {
    min-width: 57.5rem;
    display: flex;
  }

  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .contacts {
    display: flex;
  }
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-content: inherit;
    justify-content: space-between;
    padding: 2rem 12rem;
  }

  .container {
    min-width: 100vw;
    padding: 0 12rem;
  }

  section {
    margin: auto;
  }

  #about {
    display: flex;
  }

  #intro {
    align-items: center;
  }

  #intro .p {
    max-width: 90.4rem;
  }

  footer {
    border-top: 0.5px solid var(--fontColor-primary);
  }
  .footer-wrapper {
    display: flex;
  }

  .me {
    display: grid;
    max-width: 23rem;
  }
}
